<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="receiveBufferSize" value="2048"/>
    <add key="ip" value="192.168.1.228"/>
    <add key="port" value="5555"/>
    <!--同时启动多少个连接-->
    <add key="number" value="2"/>
    <!--自动发送多少次数-->
    <add key="sendnumber" value="1"/>
    <!--发送内容-->
    <add key="senddata" value="fdsaffdsafdsafdsafsdafasfasfdsafsadsaf"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>