<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="port" value="5555"/>
    <!--最大连接数-->
    <add key="numConnections" value="20000"/>
    <!--缓存大小-->
    <add key="receiveBufferSize" value="1024"/>
    <!--超时时间-->
    <add key="overtime" value="0"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
